.card {
    background-color: white;
    text-decoration-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
}